extends layout 

block content
		
	
	form(method="POST" action="" enctype="multipart/form-data")
		h1=title
		div.form-group
			label(for="name") Name:
			input#name.form-control(type="text" placeholder="Name of plant family" name="name" required=true value=(undefined===plantfamily ? "" : plantfamily.name))
		div.form-group
			label(for="description") Description:
			textarea#description.form-control(type="textarea", placeholder="Description" name="description" required=true) #{undefined===plantfamily ? "" : plantfamily.description}
			
		if plantfamily!==undefined
			div.form-group
				p Current Image:
				img(src=plantfamily.imageurl)
		div.form-group
			label(for="image") Upload image:
			input.upload(type="file" name="image" accept="image/*" required=(undefined==plantfamily ? true : false))
		button.btn.btn-primary(type="submit") Submit

	if errors 
		ul 
			for error in errors
				li!= error.msg